.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: 100%;
}

.hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.resumeButton:hover {
    border: solid 1px #ffffff;
    transform: scale(1.1);
}

.Typewriter {
    color: #ffffff;
    font-size: larger;
}

#futuristic-img {
    width: 100%;
    height: 74%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

a {
    color: #ffffff;
}

a:hover {
    color: rgb(128, 128, 128);
}

@media only screen and (max-width: 414px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: x-large;
    }

    .Typewriter {
        font-size: small;
    }

    a {
        font-size: small;
    }
}

@media only screen and (max-width:768px) {
    .hero {
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    #futuristic-img {
        width: 60%;
        height: 80%;
    }

    h1 {
        font-size: x-larger;
    }

    .Typewriter {
        font-size: medium;
    }

    a {
        font-size: small;
    }
}