.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 97%;
}

.logo {
    width: 30%;
    height: 25%;
}

#logo {
 
    width: 100px;
    height: 100px;
    transition: transform .7s ease-in-out;
}

#logo:hover {
    transform: rotate(360deg);
}

nav ul {
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

@media (max-width: 414px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}